* {
    font-family: 'Satoshi', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(white 90%, rgb(235, 235, 235));
    margin: 0;
    padding: 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-holder {
    text-align: center;
}

h1 {
    font-size: 8vh;
    margin-top: 15vh;
    transition: transform 0.5s;
    display: inline-block;
    margin-bottom: 5px;
}

p {
    font-size: 2.3vh;
}

h2 {
    padding: 10vh 10vw;
    width: 40vw;
}

.contact {
    font-weight: 200;
}

h1:hover {
    transform: scale(1.2);
}

.selfimage {
    margin-left: 17%;
    bottom: 0;
    height: 50vh;
    width: 50vh;
    position: fixed;
}

.mynav {
    border-top: solid #445263 3vh;
    height: 12vh;
    text-align: center;
    background-color: rgb(232, 232, 240);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbutton {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 79, 91);
    color: white;
    height: 6vh;
    width: 23vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 3vh;
    font-weight: 500;
    transition: color .5s, background-color .5s, transform .5s;
}

.navbutton:hover {
    color: black;
    background-color: #FFFFFF;
    transform: scale(1.02);
    cursor: pointer;
}


.my-projects {
    flex-wrap: wrap;
    margin: 5vh auto;
    justify-content: space-evenly;
    display: flex;
    width: 90vw;
    row-gap: 5vh;
}

.project {
    padding: 10px;
    margin: 10px;
    width: 30vw;
    height: 40vh;
    border: solid black 2.5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.project:hover {
    color: black;
    background-color: #FFFFFF;
    transform: scale(1.02);
    cursor: pointer;
}

.project-img {
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: white;
    height: 60%;
}

.project-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* or 'contain' */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .3;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(60, 67, 77);
    color: white;
    border-bottom: solid rgb(40, 44, 51);
    font-size: 1.5vw;
}


.description {
    flex: .7;
    display: flex;
    margin-top: auto;
    width: 100%;
    background-color: rgb(70, 79, 91);
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: color .5s, background-color .5s;
}

.project:hover .description {
    color: black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.description a {
    padding-top: 1%;
    padding-left: 3%;
    font-size: 1.2vw;
}

