* {
    font-family: 'Satoshi', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(white 90%, rgb(235, 235, 235));
    margin: 0;
    padding: 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-holder {
    text-align: center;
}


h1 {
    font-size: 8vh;
    margin-top: 10vh;
    transition: transform 0.5s;
    display: inline-block;
    margin-bottom: 5px;
}

h2 {
    padding: 10vh 10vw;
    width: 40vw;
}

.contact {
    font-weight: 200;
}

h1:hover {
    transform: scale(1.2);
}

.selfimage {
    margin-left: 17%;
    bottom: 0;
    height: 50vh;
    width: 50vh;
    position: fixed;
}

.mynav {
    height: 80px;
    text-align: center;
    background-color: rgb(232, 232, 240);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbutton {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 79, 91);
    color: white;
    height: 6vh;
    width: 23vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 97%;
    font-weight: 500;
    transition: color .5s, background-color .5s, transform .5s;
    box-shadow: inset 3 3 10px rgba(0, 0, 0, 0.2);
}

.navbutton:hover {
    color: black;
    background-color: #FFFFFF;
    transform: scale(1.02);
    cursor: pointer;
}
